body {

    background-image: url("file:///Users/mompatimasiangoako/Downloads/7d7d1e86-80f9-4707-8112-df63ada76ea3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;



}
.top {
    background-color: aliceblue;
    height: 100px;
    border-bottom-left-radius: 20%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-right-radius: 20%;
    width: 1200px;
    position: relative;
    left: 100px;
    display: none;
}
.main {
    background: rgba(255, 255, 255, 0.3);;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 800px;
    display: none;
   
}
.card1 {
    height: 350px;
    position: absolute;
    top: 10px;
    left: 10px;
    
}
.card2 {
     height: 350px;
    position: absolute;
    top: 10px;
    left: 400px;
}
.card3 {
    height: 350px;
    position: absolute;
    top: 10px;
    left: 790px;
}
.card4 {
    height: 350px;
    position: absolute;
    top: 10px;
    left: 1180px;
}
.card5 {
   height: 350px;
    position: absolute;
    bottom: 30px;
    left: 10px;
}
.card6 {
     height: 350px;
    position: absolute;
    bottom: 30px;
    left: 400px;
}
.card7  {
    height: 350px;
    position: absolute;
    bottom: 30px;
    left: 790px;
}
.card8 {
    height: 350px;
    position: absolute;
    bottom: 30px;
    left: 1180px;
}
.cover {
    background-color: aliceblue;
    height: 500px;
    width: 500px;
    position: absolute;
    bottom: 50%;
}
.start {
    position: absolute;
    left: 35%;
    width: 400px;
    height: 100px;
    bottom: 50%;
    font-size: 80px;
    border-radius: 10px;
    border-width: 10px;
    border-color: rgb(72, 0, 255);
    cursor: pointer;

    
}
.start:hover {
    background-color: blue;

}

.time {
    position: absolute;
    left: 40%;
    font-size: 75px;
    top: -40px;
}
section {
    display: block;
}
.closingWord {
    color: aliceblue;
    position: absolute;
    left: 37%;
    font-size: 100px;
    bottom: 50%;

}
.time1 {
    color: aliceblue;
    background: rgba(255, 255, 255, 0.3);;
    backdrop-filter: blur(25px);
    height: 100px;
    position: absolute;
    left: 17%;
    bottom: 20%;
    font-size: 100px;
    
}
.closing {
    display: none;
}
.beg {
    display: block;

}
.restart {
    position: absolute;
    bottom: 8%;
    left: 20%;
    color: aliceblue;
     background: rgba(255, 255, 255, 0.3);;
    backdrop-filter: blur(20px);
    height: 100px;
    width: 200px;
    text-align: center;
    padding-top: 30px;
    

}